body,
a:hover {
  cursor: url(../img/cursor.png), auto !important;
}

.main {
  display: flex;
  align-items: center;
  padding: 30px;
  text-align: center;
  position: relative;
}

.information {
	max-width: 540px;
	margin-bottom: 80px;
} 

.paragraph {
  margin: 15px 0;
}

.sum {
  margin: 40px 0;
}

.tv {
	width: 135px;
	height: 100px;
	position: absolute;
	bottom: 6%;
	right: 5%;
}

.tv img {
	width: 100%;
}

@media screen and (max-width: 1019px) {
  .information {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .tv {
    width: 100px;
    height: auto;
    position: absolute;
    bottom: 2%;
    right: 2%;
  }
}

@media screen and (max-width: 479px) {
	.main {
    padding: 0;
	}
}
