body,
a:hover {
  cursor: url(../img/cursor.png), auto !important;
}

.main {
  display: flex;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.paragraph {
  margin: 15px 0;
}

.sum {
  margin: 40px 0;
}
