@font-face {
  font-family: CallingCode;
  src: url(../fonts/calling_code/CallingCode-Regular.otf) format('otf'),
       url(../fonts/calling_code/CallingCode-Regular.ttf) format('truetype');
  font-weight: 400;
}
