.main {
  margin-top: 55px;
}

.masonry {
  display: flex;
  flex-wrap: wrap;
  align-items: self-end;
  justify-content: space-between;
}

.masonry__item {
  width: 21%;
  height: auto;
  margin-bottom: 40px;
  cursor: pointer;
}

.gallery {
  display: none;
  position: fixed;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  margin: 0 10%;
  position: absolute;
}

.gallery__header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 25px 10% 45px;
  background: #fff;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.gallery__close {
  width: 33px;
  height: 33px;
  border: none;
  background: url(../img/icons/close.svg) center;
  cursor: pointer;
}

.gallery__close:hover {
  background: url(../img/icons/close-hover.svg) center;
}

.swiper {
  margin: 0 0 100px;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
}

.swiper__item {
  height: 100vh;
}

.swiper__item img {
  width: auto;
  height: calc(100vh - 200px);
  margin-top: 105px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  cursor: pointer;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}


