body,
a:hover {
  cursor: url(../img/cursor.png), auto !important;
}

.main {
	display: flex;
  align-items: center;
  text-align: center;
}

.inner {
  margin-bottom: 40px;
  position: relative;
}

.title {
  width: 674px;
  height: auto;
}

.description {
  margin-top: 20px; 
}

@-webkit-keyframes zomg {
  0%       { color: #9400D3; }
  16%      { color: #0000FF; }
  32%      { color: #00FF00; }
  48%      { color: #FFFF00; }
  64%      { color: #FF7F00; }
  80%      { color: #FF0000; }
}

@keyframes zomg {
  0%       { color: #9400D3; }
  16%      { color: #0000FF; }
  32%      { color: #00FF00; }
  48%      { color: #FFFF00; }
  64%      { color: #FF7F00; }
  80%      { color: #FF0000; }
}

.egg {
  width: 240px;
  height: 250px;
  position: absolute;
  right: -120px;
  bottom: -75px;
  cursor: url(../img/fly.png), auto !important;
  z-index: 20;
}
