body,
a:hover {
  cursor: url(../img/cursor.png), auto !important;
}

.main {
	display: flex;
  align-items: center;
  text-align: center;
}

.inner {
  position: relative;
}

.title {
  width: 674px;
  height: auto;
}

.description {
  margin: 20px 0 40px;
}

.egg {
  width: 240px;
  height: 250px;
  position: absolute;
  right: -120px;
  bottom: -95px;
  cursor: url(../img/fly.png), auto !important;
  z-index: 20;
}

@media screen and (max-width: 1019px) {
  .description {
    margin: 10px 0;
  }

  .title {
    width: 640px;
  }

  .egg {
    right: -60px;
    bottom: -65px;
    width: 150px;
    height: 195px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    width: 460px;
  }

  .egg {
    width: 80px;
    height: 105px;
    bottom: -15px;
    right: -10px;
  }
}

@media screen and (max-width: 479px) {
  .title {
    width: 300px;
  }

  .description {
    font-size: 12px;
  }

  .egg {
    width: 60px;
    height: 75px;
  }
}

