body {
  cursor: url(../img/cursor.png), auto !important;
}

.main {
	display: flex;
  align-items: center;
  text-align: center;
}

.inner {
  position: relative;
}

.title {
	font-family: BarlowSemiCondensed;
	font-style: italic;
	font-weight: bold;
	font-size: 100px;
	line-height: 120px;
	text-align: center;
	font-feature-settings: 'kern' off, 'liga' off;
	color: #000000;
  transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.title:hover {
  -webkit-backface-visibility: hidden;
  -webkit-animation: zomg 0.15s infinite;
  animation: zomg 0.15s infinite;
}

@-webkit-keyframes zomg {
  0%       { color: #9400D3; }
  16%      { color: #0000FF; }
  32%      { color: #00FF00; }
  48%      { color: #FFFF00; }
  64%      { color: #FF7F00; }
  80%      { color: #FF0000; }
}

@keyframes zomg {
  0%       { color: #9400D3; }
  16%      { color: #0000FF; }
  32%      { color: #00FF00; }
  48%      { color: #FFFF00; }
  64%      { color: #FF7F00; }
  80%      { color: #FF0000; }
}

.description {
  position: absolute;
  -webkit-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  z-index: 30;
}

.egg {
  width: 240px;
  height: 250px;
  position: absolute;
  right: -120px;
  bottom: -115px;
  cursor: url(../img/fly.png), auto !important;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: calc(100% - 355px); }
}

@-moz-keyframes moveX {
  from { left: 0; } to { left: calc(100% - 355px); }
}

@-o-keyframes moveX {
  from { left: 0; } to { left: calc(100% - 355px); }
}

@keyframes moveX {
  from { left: 0; } to { left: calc(100% - 355px); }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: calc(100% - 20px); }
}

@-moz-keyframes moveY {
  from { top: 0; } to { top: calc(100% - 20px); }
}

@-o-keyframes moveY {
  from { top: 0; } to { top: calc(100% - 20px); }
}

@keyframes moveY {
  from { top: 0; } to { top: calc(100% - 20px); }
}
