html, body, div, p, h1, h2, h3, h4, h5, h6, a, span, img, ol, ul, li, form, input {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.25;
  background: transparent;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font: 400 15px CallingCode, sans-serif;
  color: #000;
  background-color: #fff;
}

body.lock {
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button, button:active, button:focus {
  outline: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 10px 0;
  position: sticky;
  top: 0px;
  z-index: 20;
  background: #fff;
  /* border-bottom: 1px solid #000000; */
  /* background: url(../img/top-bg.png) no-repeat 615px bottom; */
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 166px;
  height: auto;
}

.logo__wrapper {
  position: relative;
}

.logo__wrapper:after {
  width: 63px;
  height: 59px;
  right: -31px;
  bottom: -24px;
  content: '';
  position: absolute;
  background: url(../img/egg.png);
  background-size: contain;
  transform: rotate(-4deg);
}

.nav {
  cursor: auto !important;
}

.nav__link {
  display: inline-block;
  padding: 15px 0;
  margin-left: 20px;
  position: relative;
}

.nav__link:hover {
  color: #053BFB;
}

.nav__link:after {
  border-bottom: 1px solid #053BFB;
  position: absolute;
  display: none;
  content: '';
  width: 100%;
  height: 1px;
  left: 1px;
  bottom: 18px;
}

.nav__link:hover:after {
  display: block;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social a {
  margin: 0 10px;
}

.copyright {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1019px) {
	.container {
		max-width: 768px;
		padding: 0 10px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		max-width: 480px;
	}
}

@media screen and (max-width: 479px) {
	.container {
		max-width: 320px;
	}
}
